<ul class="stepper parallel">
  <li class="step" [class.active]="surveyService.oosa.step === 0" [class.done]="surveyService.oosa.step > 0" >
    <div class="step-title waves-effect waves-dark" (click)="surveyService.oosa.step = 0">Mines, Pits, Quarries</div>
    <div class="step-new-content" [class.show]="surveyService.oosa.step === 0">
      <div class="row mt-2">
        <div class="d-flex flex-column flex-1">
          <div><strong>Mining activity currently on the site?</strong></div>
          <div class="d-flex flex-row">
            <!-- Material inline 1 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="activity1" name="activity" value="Yes" [(ngModel)]="surveyService.oosa.mine.activity">
              <label class="form-check-label" for="activity1">Yes</label>
            </div>
            <!-- Material inline 2 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="activity2" name="activity" value="No"  [(ngModel)]="surveyService.oosa.mine.activity" (click)="surveyService.oosa.mine.activity_desc = ''">
              <label class="form-check-label" for="activity2">No</label>
            </div>
            <!-- Material inline 3 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="activity3" name="activity" value="Not Known"  [(ngModel)]="surveyService.oosa.mine.activity" (click)="surveyService.oosa.mine.activity_desc = ''">
              <label class="form-check-label" for="activity3">Not Known</label>
            </div>
          </div>
          <div *ngIf="surveyService.oosa.mine.activity === 'Yes'">
            <div class="md-form m-0">
              <input type="text" class="form-control" placeholder="If yes, describe" [appFocus]="true" [(ngModel)]="surveyService.oosa.mine.activity_desc">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex flex-column flex-1">
          <div><strong>Do you know of any previous mining activity (i.e. drill holes, abandoned shafts, etc.) on the property?</strong></div>
          <div class="d-flex flex-row">
            <!-- Material inline 1 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="abandonedActivity1" name="abandonedActivity" value="Yes" [(ngModel)]="surveyService.oosa.mine.abandonedActivity">
              <label class="form-check-label" for="abandonedActivity1">Yes</label>
            </div>
            <!-- Material inline 2 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="abandonedActivity2" name="abandonedActivity" value="No"  [(ngModel)]="surveyService.oosa.mine.abandonedActivity" (click)="clearAbandonActivity()">
              <label class="form-check-label" for="abandonedActivity2">No</label>
            </div>
            <!-- Material inline 3 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="abandonedActivity3" name="abandonedActivity" value="Not Known"  [(ngModel)]="surveyService.oosa.mine.abandonedActivity" (click)="clearAbandonActivity()">
              <label class="form-check-label" for="abandonedActivity3">Not Known</label>
            </div>
          </div>
          <div *ngIf="surveyService.oosa.mine.abandonedActivity === 'Yes'">
            <div class="md-form m-0">
              <input type="text" class="form-control" placeholder="If yes, describe" [appFocus]="true" [(ngModel)]="surveyService.oosa.mine.abandonedActivity_desc">
            </div>
          </div>
          <div class="d-flex flex-column flex-1" *ngIf="surveyService.oosa.mine.abandonedActivity === 'Yes'">
            <div>If there are abandoned shafts or drill holes, fill in the following information.</div>
            <div class="md-form m-0">
              <app-input [label]="'Number'" (changed)="onNumberChange($event);"></app-input>
              <app-input [label]="'Type'" (changed)="onTypeChange($event);"></app-input>
            </div>
          </div>
        </div>
      </div>
      <div class="step-actions">
        <button class="waves-effect waves-dark btn btn-sm btn-primary next-step" (click)="nextStep()">CONTINUE</button>
      </div>
    </div>
  </li>
  <li class="step" [class.active]="surveyService.oosa.step === 1" [class.done]="surveyService.oosa.step > 1">
    <div class="step-title waves-effect waves-dark" (click)="surveyService.oosa.step = 1">Oil and Gas Wells</div>
    <div class="step-new-content" [class.show]="surveyService.oosa.step === 1">
      <div class="row mt-2">
        <div class="d-flex flex-column flex-1">
          <div><strong>Are there active or abandoned oil or gas wells on the property?</strong></div>
          <div class="d-flex flex-row">
            <!-- Material inline 1 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="oil1" name="oil" value="Yes" [(ngModel)]="surveyService.oosa.gas.oil">
              <label class="form-check-label" for="oil1">Yes</label>
            </div>
            <!-- Material inline 2 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="oil2" name="oil" value="No"  [(ngModel)]="surveyService.oosa.gas.oil" (click)="surveyService.oosa.gas.oil_desc = ''">
              <label class="form-check-label" for="oil2">No</label>
            </div>
            <!-- Material inline 3 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="oil3" name="oil" value="Not Known"  [(ngModel)]="surveyService.oosa.gas.oil" (click)="surveyService.oosa.gas.oil_desc = ''">
              <label class="form-check-label" for="oil3">Not Known</label>
            </div>
          </div>
          <div *ngIf="surveyService.oosa.gas.oil === 'Yes'">
            <div class="md-form m-0">
              <input type="text" class="form-control" placeholder="If yes, describe" [appFocus]="true" [(ngModel)]="surveyService.oosa.gas.oil_desc">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="d-flex flex-column flex-1">
          <div><strong>Are there pipelines on or near the property?</strong></div>
          <div class="d-flex flex-row">
            <!-- Material inline 1 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="pipelines1" name="pipelines" value="Yes" [(ngModel)]="surveyService.oosa.gas.pipelines">
              <label class="form-check-label" for="pipelines1">Yes</label>
            </div>
            <!-- Material inline 2 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="pipelines2" name="pipelines" value="No"  [(ngModel)]="surveyService.oosa.gas.pipelines" (click)="surveyService.oosa.gas.pipelines_desc = ''">
              <label class="form-check-label" for="pipelines2">No</label>
            </div>
            <!-- Material inline 3 -->
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" id="pipelines3" name="pipelines" value="Not Known"  [(ngModel)]="surveyService.oosa.gas.pipelines" (click)="surveyService.oosa.gas.pipelines_desc = ''">
              <label class="form-check-label" for="pipelines3">Not Known</label>
            </div>
          </div>
          <div *ngIf="surveyService.oosa.gas.pipelines === 'Yes'">
            <div class="md-form m-0">
              <input type="text" class="form-control" placeholder="If yes, describe" [appFocus]="true" [(ngModel)]="surveyService.oosa.gas.pipelines_desc">
            </div>
          </div>
        </div>
      </div>
      <div class="step-actions">
        <button class="waves-effect waves-dark btn-sm  btn btn-primary m-0 mt-4" type="button" (click)="handover()">{{last ? 'Submit': 'Next'}}</button>
      </div>
    </div>
  </li>
</ul>
