/* You can add global styles to this file, and also import other style files */
@import "assets/fa/fontawesome";
@import "assets/fa/light";
@import "assets/fa/brands";
@import "assets/fa/regular";
@import "assets/fa/solid";
@import "assets/fa/v4-shims";
@import "assets/scss/mdb";

.flex-1 {
  flex: 1;
}

.show {
  display: block !important;
}

html,
body {
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.btn-survey {
  background-color: #c3d42f !important;
  border-color    : #c3d42f !important;
  font-weight     : 400 !important;
}

.h-ps {
  overflow-x                : auto;
  overflow-y                : hidden;
  -webkit-overflow-scrolling: touch;
}

ul.stepper {
  margin : 0 !important;
  padding: 8px !important;
}

.form-check-input[type=checkbox]+label,
label.btn input[type=checkbox]+label,
.form-check-input[type=radio]:not(:checked)+label,
.form-check-input[type=radio]:checked+label,
label.btn input[type=radio]:not(:checked)+label,
label.btn input[type=radio]:checked+label {
  padding-left: 20px;
}

