/* You can add global styles to this file, and also import other style files */
@import "assets/scss/mdb";

.flex-1 {
  flex: 1;
}

.show {
  display: block !important;
}

html, body {
  font-size: 14px;
}
